body {background-color: rgb(135, 146, 143);}
header {
    background-color:rgb(67, 214, 219);
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
    padding:5px ;
    border: 5px ;
    margin: 5px ;
}

h1, h2, h3, h4, h5, h6, p {
    font-family:georgia;
}

h1 { 
    font-size: 25px;
}

h3 { 
    font-size: 15px;
}

p {
    font-size: 12px;

}

main { 
    background-color:rgb(67, 214, 219);
    border-radius: 10px;
}

aside { 
    background-color: rgb(67, 214, 219);
    border-radius: 10px;
}

footer {
    background-color: rgb(52, 92, 94);
    border-radius: 10px;
color:white; 
}

nav li{
    border: 2px solid white;
    background-color: rgb(52, 92, 94);
    list-style-type: none;
}
nav li a {
    color: white;
    text-align: center;
    text-decoration: none;
}

nav li:hover{
    background-color:rgb(20, 60, 238);
}

.active {
    background-color: rgb(11, 236, 143);
}

table{ 
    font-family:georgia;
    border-collapse: collapse;
    border: 5px;
    
}
table td, table th{
    border: 2px solid #f0f0f0;
}

table tr:nth-chile(even){
    background-color: #f2f2f2;
    
}

table tr:hover {
    background-color: rgb(20, 60, 238);
    
}

table th{
    background-color: rgb(52, 92, 94);
}